<!--自定义footer样式-->
<!--<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">-->
<!--<img no-lazy src="https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/upyun.png" width="60" height="auto">-->
<!--</a>-->
<!--<br>-->
<div id="footer-content">
    <span>Copyright</span> <i class="far fa-copyright"></i> <span>2019-2020</span>
    <a href="/" target="_blank"> XU'S BLOG </a>丨
    <!-- 在网页底部添加网站运行时间 -->
    <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
</div>
<script>
    var now = new Date();

    function createtime() {
        var grt = new Date("10/09/2019 00:00:00");//此处修改你的建站时间或者网站上线时间
        now.setTime(now.getTime() + 250);
        days = (now - grt) / 1000 / 60 / 60 / 24;
        dnum = Math.floor(days);
        hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum);
        hnum = Math.floor(hours);
        if (String(hnum).length == 1) {
            hnum = "0" + hnum;
        }
        minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
        mnum = Math.floor(minutes);
        if (String(mnum).length == 1) {
            mnum = "0" + mnum;
        }
        seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
        snum = Math.round(seconds);
        if (String(snum).length == 1) {
            snum = "0" + snum;
        }
        document.getElementById("timeDate").innerHTML = "网站已运行 " + dnum + " 天 ";
        document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
    }

    setInterval("createtime()", 250);
</script>
<br/>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动">
        <span class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://github.com/" target="_blank"
       title="静态网页托管于 GitHub Pages 和 Coding Pages">
        <span class="badge-subject">Hosted</span><span
                class="badge-value bg-brightgreen">GitHub &amp; Coding</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://www.aliyun.com/" target="_blank" title="阿里云提供域名相关服务">
        <span class="badge-subject">DNS</span><span class="badge-value bg-blueviolet">Aliyun</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://www.jsdelivr.com/" target="_blank"
       title="jsDelivr 提供 CDN 加速服务">
        <span class="badge-subject">CDN</span><span class="badge-value bg-orange">jsDelivr</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://github.com/volantis-x/hexo-theme-volantis/"
       target="_blank" title="站点使用 Volantis 主题">
        <span class="badge-subject">Theme</span><span class="badge-value bg-blue">Volantis</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
       target="_blank" title="本站点采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可">
        <span class="badge-subject"><i class="fa fa-copyright"></i></span><span
                class="badge-value bg-gradient">BY-NC-SA 4.0</span></a>
</div>
<div class="github-badge">
    <span class="badge-subject">WordCount</span><span
            class="badge-value bg-blueviolet"><%= totalcount(site) %></span>
</div>
