<!--æš‚æ— ç›¸å…³æ–‡ç« å¤„ç†æ–¹å¼-->
<script>
    var popularPosts = $('.popular-posts')
    if (popularPosts.length === 0) {
        $('.related_posts .content').append('<div class="no-popular-posts">ðŸ”” æš‚æ— ç›¸å…³æ–‡ç« (â—•Ü«â—•)</div>')
    }
</script>
