<!--自定义标签位置-->
<% if (post.tags && post.tags.length) { %>
    <div class="full-width auto-padding tags">
        <%
            var items = [];
            post.tags.each(function (item) {
                items.push('<a href="' + url_for(item.path) + '" rel="nofollow"><i class="fas fa-tags"></i>&nbsp;' + item.name + '</a>');
            });
        %>
        <%- items.join(' ') %>
    </div>
<% } %>
<style>
    /* 文章自定义标签样式 */
    .l_main .post-wrapper .post .auto-padding {
        padding-left: 25px;
        padding-right: 25px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: auto;
    }

    .l_main .post-wrapper .post .full-width {
        margin-left: -24px;
        margin-right: -24px;
    }

    .l_main .post-wrapper .tags {
        margin-bottom: -24px;
    }

    .article .tags {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 1.7;
        margin-top: 20px;
        background: rgba(226, 226, 226, 0.5);
        word-spacing: 10px;
    }

    .l_main .post .tags a {
        color: rgba(51, 51, 51, 0.7);
    }

    .article .tags a {
        color: #333333;
        position: relative;
        display: inline-block;
        word-spacing: 0;
        transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
    }

    .article .tags a:hover {
        color: #ff5722;
        background: transparent;
        text-decoration: none;
    }
</style>
