<!--自定义标签位置-->
<% if (post.tags && post.tags.length) { %>
    <div class="full-width auto-padding tags">
        <%
            var items = [];
            post.tags.each(function (item) {
                items.push('<a href="' + url_for(item.path) + '" rel="nofollow"><i class="fas fa-hashtag fa-fw"></i>' + item.name + '</a>');
            });
        %>
        <%- items.join(' ') %>
    </div>
<% } %>
