// Custom styles.
 body {
    background-image:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	background-size: 100% 100%;
    }
// 跳动的心
@keyframes heartAnimate { 
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}

#animate {
    animation: heartAnimate 1.33s ease-in-out infinite;
}

.with-love {
    color: red;
}
