/* 主页logo */
.cover-wrapper .cover .cover-body .logo {
  width: 600px;
}

/* 解决定位valine评论位置问题 */
.l_main .post {
  transform: none !important;
}

/* 主题hover样式 */
.l_main .post:hover {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1), 0 16px 32px 0px rgba(0, 0, 0, 0.1);
}

/* 各类鼠标样式 begin*/

// body标签鼠标样式
body, a:not([href]), .l_main .post section.meta .new-meta-box .new-meta-item .notlink {
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/normal.cur), auto;
}

// p标签鼠标样式
input, textarea, p {
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/texto.cur), auto;
}

// 不设置鼠标样式
.article a.link-card p, div.tabs ul.nav-tabs li.tab.active a, .article .widget, .l_main .post section.meta .new-meta-box .new-meta-item a p {
  cursor: unset;
}

// a标签鼠标样式
.article a.link-card, .cover-wrapper .cover .cover-body .menu.focus .list-h a p, .cover-wrapper .cover .cover-body .menu.featured .list-h a p, .cover-wrapper .cover .cover-body .menu.dock .list-h a p, .cover-wrapper .cover .cover-body .menu.search .list-h a p, div.tabs ul.nav-tabs li.tab a, .article.article-entry.l_friends .friends-group .friend-content .friend-card .friend-right p, .l_main .article .prev-next .prev p, .l_main .article .prev-next .next p, .cover-wrapper .cover .scroll-down, a, .waves-effect, .waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited, .btn-copy {
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/ayuda.cur), auto;
}

/* 各类鼠标样式 end*/

/* 归档页样式优化 */
#archive-page .archive .archive-post a:hover {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* 标签页样式优化 */
#archive-page .archive .all-tags > a:hover, #archive-page .archive .all-tags > a:active, #archive-page .archive .all-tags > a.active {
  color: #ff5722 !important;
}

/* 解决文章标题多次点击事件 */
.l_main .post section.meta .title a {
  pointer-events: none;
}

.l_main .post-wrapper .post div.meta .title a {
  pointer-events: auto;
}

/* 自定义文章标题样式 */
.l_main .post-wrapper .post div.meta .title a {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333333;
}

.l_main .post-wrapper .post div.meta .title a:hover {
  color: #ff5722;
}

.l_main .post section.meta .title a {
  //font-size: 1.5rem;
  line-height: 1.7;
  color: #333333;
}

.article .article-entry > h1:before, .article .article-entry > h2:before {
  margin-top: -60px;
}

.article .article-entry > h3:before {
  margin-top: -70px;
}

.article .article-entry > h4:before {
  margin-top: -70px;
}

/* 文章meta hover样式 */
.l_main .post section.meta .new-meta-box .new-meta-item a:hover {
  color: #ff5722;
}

.l_main .post section.meta .new-meta-box .new-meta-item a:hover p {
  color: #ff5722;
}

/* 阅读全文按钮样式 */
article .readmore {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 2rem;
  font-weight: bold;
  background-color: #1BC3FB;
  padding: 0.2em 1.2em;
  color: #ffffff;
  border-radius: 6px;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

article .readmore i {
  vertical-align: -0.05em;
}

.article .readmore:hover {
  background: #04a8df;
  color: #fff;
}

/* 文章样式 */
.article a {
  word-break: break-all;
}

.article .article-entry > a:hover {
  text-decoration: none
}

/* 文章翻页样式 */
.l_main .article .prev-next > a:hover {
  background: #e8f9fe;
}

.l_main .article .prev-next > a:hover p.title {
  color: #1bc3fb;
}

/* 打字机效果 */
.typed-cursor {
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

/* 首页cover menu样式 */
/* search版块 */
.cover-wrapper .cover .cover-body .menu.search .list-h a:hover, .cover-wrapper .cover .cover-body .menu.search .list-h a.active, .cover-wrapper .cover .cover-body .menu.search .list-h a:active {
  color: #1BC3FB;
  border-bottom: 2px solid #1BC3FB;
}

/* 首页cover input样式 */
.cover-wrapper .cover .cover-body .m_search .input {
  display: block;
  font-size: 16px;
  line-height: 16px;
  height: 44px;
  width: 100%;
  color: #1BC3FB;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding-left: 36px;
  border-radius: 56px;
  background: rgba(33, 150, 243, 0.1);
  border: 1px solid #1BC3FB;
}

.cover-wrapper .cover .cover-body .m_search .input:focus {
  border: 3px solid #1BC3FB;
  background: rgba(33, 150, 243, 0.1);
}

.cover-wrapper .cover .cover-body .m_search .input:hover {
  background: rgba(33, 150, 243, 0.1);
}

.cover-wrapper .cover .cover-body .m_search .input:hover ~ .icon {
  color: #1BC3FB;
}

.cover-wrapper .cover .cover-body .m_search .icon {
  position: absolute;
  display: block;
  line-height: 44px;
  height: 44px;
  width: 32px;
  top: 0;
  left: 5px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.6);
}

/* 背景代码雨样式 */
#codeRainCanvas {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
}

/* 首页向下滚动图标颜色 */
.cover-wrapper .cover .scroll-down .scroll-down-effects {
  color: #1BC3FB;
}

/* blogger 小组件title样式 */
.widget.blogger .content .text :first-child {
  font-size: 1.125rem;
}

/* 小组件hover样式光晕效果 */
.widget:hover {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1), 0 16px 32px 0px rgba(0, 0, 0, 0.1);
}

/* footer 样式*/
footer a.social:hover {
  background: rgba(27, 195, 251, 0.1);
  color: #1BC3FB;
}

footer {
  color: #333333;
}

footer a.social {
  color: #333333;
}

footer a:hover {
  color: #ff5722
}

.github-badge {
  margin-left: 5px;
  display: inline-block;
  border-radius: 4px;
  text-shadow: none;
  color: #fff;
  line-height: 15px;
  background-color: #ABBAC3;
  margin-bottom: 5px;
}

.github-badge .badge-subject {
  display: inline-block;
  background-color: #4D4D4D;
  padding: 4px 4px 4px 6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.github-badge .badge-value {
  display: inline-block;
  padding: 4px 6px 4px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.github-badge .bg-blue {
  background-color: #007EC6;
}

.github-badge .bg-brightgreen {
  background-color: #4DC820;
}

.github-badge .bg-blueviolet {
  background-color: #8833D7;
}

.github-badge .bg-orange {
  background-color: #FFA500;
}

.github-badge .bg-blue {
  background-color: #007EC6;
}

.github-badge .bg-lightgray {
  background-color: #9f9f9f;
}

.github-badge .bg-gradient {
  background: linear-gradient(to right, #3ca5f6, #a86af9);
}

/* 导航栏样式 */
.l_header {
  background: #1BC3FB !important;
}

.l_header .wrapper .nav-main .title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5625rem !important;
}

.l_header .wrapper .nav-sub .title {
  color: #FFFFFF;
  font-weight: bold;
}

.l_header ul > li > a {
  color: #FFFFFF !important;
}

.l_header ul > li > a.active {
  color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.l_header ul > li > a:hover {
  color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}

ul.list-v {
  background: #1bc3fb;
}

.l_header .m_search {
  width: 200px;
}

.l_header .m_search .input {
  border: 1px dashed transparent;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}

.l_header .m_search .input:focus {
  border: 2px solid #FFFFFF;
}

.l_header .m_search .icon {
  color: rgba(255, 255, 255, 0.8);
}

.l_header .m_search .input::-webkit-input-placeholder {
  color: #fff;
}

.l_header .m_search .input:-moz-placeholder {
  color: #fff;
}

.l_header .m_search .input::-moz-placeholder {
  color: #fff;
}

.l_header .m_search .input:-ms-input-placeholder {
  color: #fff;
}

/* 下拉按钮样式调整 */
.article .article-entry .dropmenu ul li:before {
  content: none !important;
}

.dropmenu ul.list-v > li > a {
  color: #fff;
}

.dropmenu ul.list-v > li > a:hover {
  border-left-color: #fff;
  border-bottom-color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/* 小组件header样式 */
.widget header.pure {
  background-color: #1BC3FB;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
}

.widget header {
  display: flex;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  justify-content: space-between;
  line-height: 1.5em;
}

.widget header.pure .rightBtn {
  color: #FFFFFF;
}

.widget header.pure .rightBtn:hover {
  color: #a22700;
}

/* 相关文章 */
.widget.related_posts .content h3 a {
  word-break: break-all;
}

/* 有序图标设置 */
.article .article-entry ol {
  counter-reset: sectioncounter
}

.article .article-entry ol > li {
  margin-top: .4rem;
  list-style: none;
  line-height: 30px;
}

.article .article-entry ol > li:before {
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  line-height: 16px;
  margin: 0.42rem 0.42rem 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  background-color: #1bc3fb;
  border-radius: 50%;
  text-align: center;
  content: '' counter(sectioncounter) '';
  counter-increment: sectioncounter;
  transition: all .5s;
}

.article .article-entry ol li:hover::before {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

/* 无序图标设置 */
.article .article-entry ul li {
  list-style: none;
}

.article .article-entry ul li:before {
  float: left;
  left: 0;
  margin: 0.3rem 0.42rem 0 0;
  width: 8px;
  height: 8px;
  border: .2rem solid #1bc3fb;
  border-radius: 50%;
  background: #fff;
  content: "";
  line-height: 19px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.article .article-entry ul > li:hover:before {
  border-color: #fc6423;
}


.article .article-entry div.tabs ul.nav-tabs li:before {
  content: none;
}

/* 微信分享二维码层级 */
div.hoverbox:hover > div.target {
  z-index: 2;
}

/*valine 评论系统样式 began */

.v .vbtn, .v .vicon, .v a, .v .vcards .vcard .vhead .vnick, .v .vcards .vcard .vh .vmeta .vat {
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/ayuda.cur), auto !important;
}

.v .vcards .vcard .vimg {
  transition: all ease 1s;
}

.v .vcards .vcard .vimg:hover {
  transform: rotate(360deg);
}

.l_main #comments #valine_container .vcards .vmeta .vat:hover {
  color: #1bc3fb;
  text-decoration: none;
}

.l_main #comments #valine_container .vcards .vhead span.vnick {
  vertical-align: -0.12em;
}

.l_main #comments #valine_container .vcards .vcontent a:hover {
  color: #ff5722;
  text-decoration: none;
}

.l_main #comments #valine_container button:hover {
  color: #1bc3fb;
  background: #e8f9fe;
}

.v .vcards .vcard .vh .vmeta .vat {
  padding: 0 .8rem !important;
  border: 1px solid #1bc3fb !important;
  border-radius: 5px !important;
}

.v .vcards .vcard .vh .vmeta .vat:hover {
  background-color: #cdf4ff !important;
}

.l_main #comments #valine_container .vcards .vh {
  border-bottom: none;
}

.l_main #comments #valine_container .vcards .vhead .vsys {
  padding: 0 8px 1px 8px;
  margin: 0;
}

.l_main #comments #valine_container .vcards .vhead .vsys > i {
  margin-right: 5px;
}

.l_main #comments #valine_container .vcards .vcontent a {
  display: contents;
}

.vtag {
  font-size: .75em;
}

@media only screen and (min-width: 1000px) {
  #valine_container .vcards .vcard:hover {
    border: 1px dashed #2196f3;
  }

  #valine_container .vcards .vcard {
    padding: 15px 20px 0 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px dashed rgba(85, 85, 85, 0.3);
    transition: all .3s;
  }

  #valine_container .vcards .vcard h1,
  #valine_container .vcards .vcard h2,
  #valine_container .vcards .vcard h3,
  #valine_container .vcards .vcard h4,
  #valine_container .vcards .vcard h5,
  #valine_container .vcards .vcard h6 {
    border-bottom: none;
  }

  #valine_container .vcards .vcard .vh {
    padding-bottom: 0;
    border-bottom: none;
  }

  #valine_container .vcards .vcard .vh .vquote {
    border-left: none;
  }

  #valine_container .vcards .vcard .vh .vcard {
    padding-right: 0;
    border: none;
    box-shadow: none;
  }
}

#veditor {
  //resize: none !important;
  background: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/valine/comment.webp) 100% 100% no-repeat;
}

#veditor:focus {
  background-position-y: 400px;
  transition: all 0.2s ease-in-out 0s;
}

/*valine 评论系统样式 end */

/* 导航切换switcher样式 */
.l_header .switcher > li > a.active, .l_header .switcher > li > a:active {
  background: rgba(255, 255, 255, 0.2);
}

/* 搜索弹窗样式 */
#u-search .modal-header #u-search-modal-form #u-search-modal-input {
  margin: 12px 50px;
}

//手机适配
@media screen and (max-width: 1024px) {
  .l_header .m_search {
    width: 44px;
  }
}

@media screen and (max-width: 500px) {
  /* 搜索框样式 */
  .l_header.z_search-open .m_search {
    width: calc(100vw - 2 * 20px - 2 * 32px);
  }

  .l_header .m_search {
    width: 0;
    overflow: hidden;
    position: absolute;
    background: none;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    margin: 0 10px;
  }

  .l_header .m_search .icon {
    display: block;
  }

  .l_header .m_search .input {
    margin-left: 0;
    font-size: 16px;
    width: calc(100% - 30px) !important;
    -webkit-appearance: none;
    padding-left: 36px;
    border-radius: 8px;
    border: 1px dashed transparent;
  }

  .l_header.z_search-open .title {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .l_side .toc-wrapper {
    border: none;
  }

  #veditor {
    background: none;
  }
}
